body {
    color: white;
    background-color: #0b2866;
    height: 100vh;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    background-color: #071a42;
}

header > menu {
    margin-block-start: 0px;
}

menu > nav {
    border-radius: 7px;
}

.box-search-and-buttons {
    flex: 0 1 80%;
}

.login-button {
    width: 100px;
    border-radius: 5px;
}

.login-button:hover {
    border: white 1px solid;
}

.favorite-button {
    width: 120px;
    border-radius: 5px;
    transition: 0.3s;
}

.favorite-button:hover {
    border: white 1px solid;
}

.box-carrinho {
    margin: 5px 10px 0px auto;
    background-color: green;
    border-radius: 7px;
    transition: 0.3s;
}

.box-carrinho:hover {
    background-color: #015c01;
}

.box-icon-img-carrinho {
    width: 130px; 
    height: 50px; 
}

.box-icon-carrinho {
    margin: 8px 8px 0px 0px;
}

.icon-carrinho {
    position: static;
}

.box-text-carrinho {
    margin-top: -5px;
}

.text-carrinho {
    height: 20px; 
    color: white;
}

.box-search {
    flex: 1 1 auto;
}

.search {
    flex: 1 1 auto; 
    max-width: 70%;
}

.box-contact-text {
    width: 150px;
}

#carouselExampleControls {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#carouselExampleControls img {
    height: 290px;
}

@media screen and (max-width: 991px) {
    .carrinho-box {
        margin: 0px 10px 0px 10px;
    }
    .icon-carrinho {
        margin-left: 2px;
    }

    .box-search-and-buttons {
        flex-flow: column;
    }

    .box-search {
        width: 100%;
    }

    .box-for-navbar {
        flex-flow: column;
        align-items: normal;
    }
}

@media screen and (max-width: 767px) {
    #carouselExampleControls img {
        width: auto;
        height: 165px;
    }
}

.title-galerias {
    margin: 55px 0px 30px 150px;
}

@media screen and (max-width:412px) {
    .title-galerias {
        margin-left: 40px;
    }
}

.text-galerias  {
    margin: 0px 0px 30px 80px;
    font-size: xx-large;
}

@media screen and (max-width:991px) {
    .text-galerias {
        margin-left: 20px;
    }
}

.box-galeria {
    margin: 30px 20px 0px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    transition: 0.3s;
    width: auto;
}

.box-galeria:hover {
    box-shadow: black 2px 2px 10px;
}

@media screen and (max-width: 700px) {
    .box-galeria {
        justify-content: space-evenly;
        padding: 0px;
    }
}

.box-galeria-destaques {
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    transition: 0.3s;
}

.box-galeria-destaques:hover {
    box-shadow: black 2px 2px 10px;
}

@media screen and (max-width: 700px) {
    .box-galeria-destaques {
        justify-content: space-evenly;
        padding: 0px;
    }
}

.box-products {
    background-image: linear-gradient(to bottom, #a51616,#520505);
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    margin: 30px 15px;
}

.title-products {
    text-align: start;
    text-indent: 5px;
    margin: 10px 10px 15px 0px;
    font-size: 20px;
}

.products {
    width: 150px;
    height: 150px;
    margin: 0px 25px 0px 25px;
    background-color: azure;
    border-radius: 3px;
}

.box-text-products {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 10px;
}

.comprar {
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    text-transform: uppercase;
    font-weight: 600;
}

.comprar:hover {
    text-decoration: underline;
}

.box-comprar-button {
    width: 40px;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.box-comprar-button:hover {
    background-color: #014901;
    cursor: pointer;
}

.comprar-button {
    padding: 5px;
}

.favoriter-button {
    background-color: transparent;
    border: none;
}

.favorite-icon {
    transition: transform 0.3s ease;
}

.favorite-icon:hover {
    transform: scale(1.2);
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

.box-novidades {
    flex-flow: column;
}

.banner-novidades {
    width: 80%;
    border-radius: 5px;
    height: 150px;
}

@media screen and (max-width: 991px) {
    .box-novidades {
        flex-flow: column;
    }
    .banner-novidades {
        width: 100%;
        height: 90px;
    }
}

footer {
    background-color: #3a3d42;
}

.box-text-rodape {
    width: 300px;
    margin: 0px 15px;
}

.icons-rodape {
    width: 30px;
    height: 30px;
}

.text-rodape {
    text-align: justify;
}

.box-patrocinadores {
    width: 430px;
}

.box-imgs-patrocinadores {
    background-color: white;
    border-radius: 5px;
    height: 200px;
}

.box-final-rodape {
    background-color: #303236;
}

.logo-rodape {
    width: 50px;
    height: 50px;
}

.copyright {
    text-align: justify;
    font-size: small;
}

.twitter:hover {
    content: url(../imgs/icons/twitter-logo-hover.png);
}

.instagram:hover {
    content: url(../imgs/icons/instagram-logo-hover.png);
}

.facebook:hover {
    content: url(../imgs/icons/facebook-logo-hover.png);
}

.body-login {
    width: 100vw;
    height: 100vh;
    background-color: #0b2866
}

.box-login {
    width: 450px;
    height: 650px;
    background-color: #0d2f79;
    border-radius: 15px;
    box-shadow: #0000003d 1px 1px 10px;
}

.back-button {
    background-color: transparent;
    border: none;
    color: white;
}

.back-button:hover {
    text-decoration: underline;
}

.input-login {
    border-radius: 15px;
    width: 300px;
    height: 45px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

.input-login:focus {
    background-color: #88b7f5f5;
}

.trocar-senha {
    color: #d4d4d49c;
    text-decoration: none;   
}

.trocar-senha:hover {
    color: #d4d4d49c;
    text-decoration: underline;
}

.btn-entrar {
    width: 350px;
    height: 35px;
    background-color: #bb2d2d;
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-entrar:hover {
    cursor: pointer;
    background-color: white;
    color: #bb2d2d;
}

.box-ou-others {
    color: white;
}

.box-redes {
    color: white;
}

.hr-login {
    width: 150px;
    border: white 1px solid;
    margin: 13px 5px;
}

.box-other-login {
    background-color: white;
    width: 250px;
    border-radius: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.box-other-login:hover {
    background-color: #d1d1d1;
    color: #000;
}

.box-redes-contate {
    background-color: white;
    width: 250px;
    border-radius: 15px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.box-redes-contate:hover {
    background-color: #d1d1d1;
    color: #000;
}

.btn-other-login {
    background-color: transparent;
    border: none;
}

.btn-redes-sociais {
    background-color: transparent;
    border: none;
}

.img-other-login {
    width: 50px;
    height: 50px;
}

.img-contate {
    width: 50px;
    height: 50px;
}

.text-other-login {
    margin: 0px;
}

.text-other-login:hover {
    text-decoration: underline;
    color: black;
}

.back-button {
    background-color: transparent;
    border: none;
    color: white;
}

.back-button:hover {
    text-decoration: underline;
    color: white;
}

.box-empyt-cart {
    border-radius: 10px;
    transition: 0.3s;
    flex: 0 1 800px;
    border: #2c4f9b 2px solid;
}

@media screen and (max-width: 991px) {
    .box-empyt-cart {
        flex: 0 1 150px;
        width: 300px;
    }
}

.box-galeria-cart {
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    transition: 0.3s;
    max-width: 700px;
}

.box-total-price {
    border: #2c4f9b 2px solid;
    border-radius: 5px;
    width: 400px;
    height: 325px;
}

.product-cart {
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    width: 700px;
}

.img-product-cart {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.801);
}

.qty-input {
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border: none;
}

.c-white {
    color: white;
}

.btn-minus:hover {
    color: white;
}

.btn-plus:hover {
    color: white;
}

#toast-message {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    z-index: 1050;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

@media screen and (max-width: 991px) {
    .box-cart-price {
        flex-flow: column;
        align-items: center;
    }
}

@media screen and (max-width: 720px) {
    .product-cart {
        width: 100%;
    }

    .box-cart {
        flex-flow: column wrap;
        align-items: center;
    }

    .box-input {
        margin: 5px 0px;
    }
}

.box-empyt-favorite {
    margin-top: 30px;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 50px;
}

.box-galeria-favorite {
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
    transition: 0.3s;
    border: #2c4f9b 2px solid;
    border-radius: 10px;
    padding: 20px;
}

.remove-favorite {
    transition: transform 0.3s ease;
}

.remove-favorite:hover {
    transform: scale(1.2);
}

.box-contate {
    width: 300px;
}

.icons-contate {
    width: 64px;
    height: 64px;
}

.box-nos-contate {
    width: 450px;
    height: 730px;
    background-color: #0d2f79;
    border-radius: 15px;
    box-shadow: #0000003d 1px 1px 10px;
}

@media screen and (min-width: 500px) {
    .box-final-rodape {
        padding: 20px;
    }
}

#favorite-itens {
    justify-content: flex-start;
}

@media screen and (max-width: 656px) {
    #favorite-itens {
        justify-content: center;
    }
}